*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: rgb(102, 0, 26);}

/* ********************************* HEADER COMPONENT STYLING *********************************** */
.header{
  width: 853px;
  height: 130px;
  background-image: url(https://images.pexels.com/photos/6985265/pexels-photo-6985265.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid brown;
  display: flex;
  color: whitesmoke;
  justify-content: space-between;
  align-items: center;}

  .logo_img{
  height: 140px;
  width: 140px;
  border-radius: 20px;
   margin-top: -65px;
  
}

.pera1{
  margin-left: 150px;
  margin-top: -120px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  font-size: large;
}
.fa-star{
  margin-left: 10rem;
  margin-top: 10px;
}
.srat_text{
  font-size: 10px;}

.Rightside_div{
  /* background-color:palegoldenrod; */
   height: 130px;
  width: 370px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;}

.fa-cutlery{
  font-size: 20px;
  color: brown;
}
.fa-info-circle{
  font-size: 20px;
  color: brown;


}
.fa-asterisk{
  color: brown;
  font-size: 20px;}
.number{
  font-size: 25px;
  
}
.delever{
  margin-top: 20px;
  margin-left: 3rem;
  color: green
}
.for_icons{
  /* background-color: aliceblue; */
  height: 100px;
  width: 170px;
  display: flex; 
justify-content: space-between;
margin-left: 15px;
padding-top: 6px;

  
}
.for_num{
  height: 100px;
  width: 150px;

}
.menu_icons{
  margin-top: 30px;
  margin-left: -60px;
  font-size: 15px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
  cursor: pointer;
  text-decoration: underline;
  color: whitesmoke;}

.main_img{
  height: 400px;
  width: 700px;
  margin-left: 77px;
  margin-top: 15px;
  border-radius: 12px;
}
/* **********************************DISHES DIVISION STYLING**************************** */
.down_div{
  height: 200px;
  width: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.first_down_div{
  height: 180px;
  width: 240px;
  background-color: aquamarine;
  margin: 7px;
}
.manu_span{
  height: 30px;
  width: 250px;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 160px;
  margin-left: -246px; 
  text-transform: uppercase;
  font-style: italic;
  font-size: 18px;
  text-align: center;
  color: white;
  font-weight: bold;  
  
}
.manu_span:hover{
background:rgba(0, 0.9, 0.9, 0.7);
opacity: 0.7;

}
.down_img{
  border: 2px groove black;
  height: 190px;
  width: 250px;
  /* margin-top: 70px; */
}
.menu__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 12px;
  /* padding: 20px; */
}

/* ****************************************FOOTER STYLING********************** */
.footer_container{
 background: rgba(0, 0, 0, 0.7);
 height: 200px;
  width: 854px;
  color: white;
  margin-top:40px;
  display: flex;
  /* padding: 10px; */
}
.footer_item{
  height: 190px;
  width: 300px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
  padding-top: 25px;}


/* "**************************************** MENU CETOGARYES PAGE STYLING***************************************" */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* body{
  background-color:#61122f;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;  
} */
.Menu_Categories{
  font-family: 'Nanum Gothic', sans-serif;
  margin: 7px;
  color:whitesmoke;
  text-align: center;
}
.Menu_pera{
  color: white;
  text-align: center;
}
.Lunch_menu{
  height: 145px;
  width: 175px;
  background-color:blueviolet;
  margin-top: 30px;
  margin: 9px;
}
.lunch_span{
  height: 25px;
  width: 175px;
  background-color:lightblue;
  font-style: italic;
  font-family: cursive;
  text-align: center;
}
.container_of_LM{
  height: 180px;
  width: 50rem;
  margin-top: 20px;
  display: flex;  
  
}
  .lunch_img{
    height: 145px;
    width: 175px;
    border: 2px groove black;

  }
    .outer_container{
      display: flex;
    }
/**************************************LUNCH MENUES PAGE STYLING ****************************************/
.lunch_heading{
  color:whitesmoke;
  text-align: center;
}
.outer_lunchMenu{
  background-color: aliceblue;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;  
  border: 5px groove maroon;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}
.one_Repper{
  background-color: khaki;
}
.inner_lunchMenu_img{
  height: 140px;
  width: 180px;
  margin: 10px;
  border: 1px solid black;
}
.lunchMenu_span{
  background-color: aqua;
  margin-left: -37px;
  margin-top: 10px;
  height: 17px;
  width: 50px;
  
}
.pera-pe{
  text-decoration:underline;  
  text-align: center;
}

.lunchMenu_pera{
  text-align: left;
  margin-left: 10px;
  font-style: italic;
  font-size: 11.5px;
}
.inner_lunchMenu{
  display: flex;
  flex-direction: row;
}







